.sidebar {
  display: flex;
  flex-direction: column;

  background: #fafcfe;
  border-right: 1px solid #cedcea;

  top: 4.125rem;
  position: fixed;

  height: calc(100vh - 65px);

  z-index: 999;

  &__icon {
    cursor: pointer;

    position: absolute;
    right: -10px;
    top: 25px;

    transform: rotate(180deg);
    transition: all 0.2s ease;
  }

  &__content {
    background: #fafcfe;
    box-shadow: 12.8062px 2.84583px 24.901px rgba(0, 0, 0, 0.02);

    display: flex;
    flex-direction: column;

    top: 3.25rem;

    height: calc(100vh - 3.25rem);
    width: 15rem;

    position: relative;
    transition: width 0.3s;
  }

  &.close {
    .sidebar__content {
      align-items: center;

      padding: 0 0 0 0;

      width: 0px;
    }
    .sidebar__icon {
      transform: rotate(0deg);
    }
  }
}
