.header {
  background: #fff;
  border-bottom: 1px solid #cedcea;

  position: relative;
  z-index: 998;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 1rem;

    height: 4.0625rem;
    width: 100%;

    &__action {
      display: flex;
      align-items: center;
      &--icon {
        margin: 0px 0.5rem;
      }
    }
  }
}
