.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: #fff;

  padding: 0rem 1rem;
  position: relative;

  height: 100%;
  width: 100%;

  &-fieldset {
    width: 100%;

    .login-input {
      &:first-child {
        margin-bottom: 2.1563rem;
      }
      &:nth-child(2) {
        margin-bottom: 1rem;
      }
    }

    .login-btn {
      background: #3a7ece;
      border-radius: 6px;

      margin-top: 2rem;

      .generic-button__label {
        color: #fff;
      }

      &.disabled {
        background: #b2b2b2;
      }
    }

    &__forgot {
      color: #3a7ece;
      cursor: pointer;

      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;

      line-height: 120%;
      text-align: center;

      margin-top: 1.8438rem;

      transition: all 0.4s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 992px) {
  .form {
    align-items: flex-start;

    padding: 0px 6.625rem;
    width: 100%;
  }
}
