.structure {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  &__page {
    height: calc(100% - 4.625rem);
    width: 100%;
  }

  &__holder {
    background: #fff;

    overflow: auto;
    padding: 1rem;
    height: 100%;
    width: 100%;
    transition: all 0.6s;

    &.fade {
      background: rgba(51, 51, 51, 0.5);
      opacity: 0.8;
    }
    &.safari {
      padding: 0px 0px 8rem 0px;
    }
  }
  &__overlay {
    background-color: rgba(32, 51, 72, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
  }
}

@media screen and (min-width: 992px) {
  .structure {
    flex-direction: row;

    &__holder {
      padding: 1.625rem 1.625rem 1.625rem 6.575rem;
      transition: all 0.2s;

      &.extra-padding {
        padding-left: 17.075rem;
      }
    }
  }
}
