.generic-field {
  position: relative;
  margin-bottom: 1.0625rem;
  width: 100%;

  &__label {
    color: #404040;

    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;

    transition: all 0.4s;

    position: absolute;
    top: 10px;
    z-index: 2;

    &.has-value {
      top: -8px;

      color: #a9a9a9;
      font-size: 0.75rem;
    }
    &.focus {
      color: #3a7ece;
    }
  }

  &__icon {
    position: relative;
  }

  &__input {
    background: #fff;
    color: #404040;

    border: 0rem;
    border-radius: 0rem;
    border-bottom: 1px solid #ebebeb;

    padding: 1.1563rem 0rem;
    width: 100%;

    &--icon {
      cursor: pointer;
      position: absolute;
      top: 7px;
      right: 10px;
    }

    &::placeholder {
      color: transparent;
    }
    &:focus {
      border-bottom: 1px solid #3a7ece;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    margin-top: 0.3125rem;

    &--text {
      color: #e3403b;

      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;

      margin-left: 0.3125rem;
    }
  }

  &.required {
    .generic-field__label {
      color: #e3403b;
    }

    .generic-field__input {
      color: #e3403b;
      border: 0rem;
      border-bottom: 1px solid #e3403b;

      &::placeholder {
        color: #e3403b;
      }
    }
  }
}
