.header {
  margin-top: 3.75rem;
  margin-bottom: 3.125rem;
  text-align: center;

  &-logo {
    margin-bottom: 7.5rem;
  }

  &-title {
    text-align: center;
    &__text {
      color: #404040;

      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
}

@media (min-width: 992px) {
  .header {
    margin-top: 10rem;
  }
}
