.info {
  display: flex;

  &-avatar {
    border-radius: 50%;
    background: #dbddde;

    margin-right: 0.625rem;

    width: 2rem;
    height: 2rem;
  }
  &-container {
    display: flex;
    flex-direction: column;

    &__text {
      color: #203348;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 16px;
    }
  }
}
