.Vue-Toastification {
  &__toast {
    align-items: center !important;
    height: 72px !important;

    box-shadow: unset !important;
    border-radius: 12px !important;

    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 120%;

    &-body {
      color: #404040 !important;
    }
    &--success {
      background-color: #d6eac2 !important;
    }
    &--error {
      background-color: #e3403b !important;
      color: #fff !important;

      .Vue-Toastification__toast-body {
        color: #fff !important;
      }
    }
  }
  &__progress {
    &-bar {
      background-color: #fff !important;
    }
  }
}
