button,
input,
select,
textarea {
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.4s ease;
}

button {
  cursor: pointer;
  font-size: 14px;
  line-height: 120%;
  user-select: none;
  height: 2.75rem;

  & span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  &:hover {
    opacity: 0.8;
  }

  &.disabled {
    pointer-events: none;
  }
}

input,
select,
textarea {
  border: 1px solid #ebebeb;
  background: #fff;
  color: #404040;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem;
  display: block;
  min-height: 2.5rem;
  max-height: 2.5rem;

  &::placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: #cdcdcd;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 50px white inset !important;
  color: #404040 !important;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// =========================================
//     SCROLLBAR STYLE
// =========================================
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a7ece;

  &:hover {
    background: #3a7ece;
  }
}
