html,
body,
#app {
  font-family: Arial;
  font-weight: 600;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

label,
p,
strong,
span,
input,
button,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
div,
pre,
blockquote,
cite,
code,
em,
strong,
small,
i,
b,
u,
s,
mark,
del,
ins,
sub,
sup,
q {
  user-select: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}
